ul {
    display:inline-block;
    margin-left:50px;
    margin-bottom:50px;
     }

picture {
    height: 40px;
}

/* https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
    .fa-linkedin {
    background: #007bb5;
    color: white;
    }

/* https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
    .fa-instagram {
    background: #125688;
    color: white;
    }

/* Wraps the work sample elements when resizing viewport */
@media screen and (max-width: 768px) {
    .samples {
    flex-direction: column !important;
    flex-wrap: wrap;

    }
}