.header {
  background-color: darkgray;
    height: 175px;
}

.profilePic {
  height: 175px;
  width: 175px;
}

h1 {
  color: whitesmoke;
  padding: 20px;
  font-size:xx-large;
  display: inline-block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
